.login {
  min-height: 100vh;
  align-items: flex-start;
  justify-content: center;
}

.login-image-container {
  background-color: #2563eb;
  width: 55%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-image-container .sub-p,
.login-image-container .sub-header-text {
  text-align: center;
  color: white;
}

.login-form-container {
  width: 45%;
  padding: 50px 80px;
}

.login-form-container input {
  border: 1px solid #dadada;
  border-radius: 50px;
  display: block;
  padding: 10px 25px;
  width: 100%;
  font-family: "Rubik", sans-serif;
  color: #6c6c6f;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.login-form-container h3 {
  color: #303a37;
  font-weight: 500;
  margin-bottom: 15px;
}

.login-form-container .purple-btn {
  margin-top: 40px;
}

.dont {
  color: #303a37;
  margin-top: 50px;
}

.dont span {
  color: #2563eb;
  font-weight: 500;
  cursor: pointer;
}

.error {
  color: red;
  font-weight: 400;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .login {
    flex-direction: column;
  }

  .login-image-container {
    width: 100%;
  }

  .login-form-container,
  .register-container {
    width: 100%;
    padding: 40px 20px;
  }
}
