.loader_con {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    justify-content: center;
    height: 100vh;
    gap: 30px;
    font-family: "Poppins", sans-serif;
}

.loader_con h1 {
    font-weight: 500;
}