.contact-info {
  padding: 10px 80px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffffcc;
  font-size: 14px;
  justify-content: space-between;
}

.contact-info ul {
  gap: 30px;
}

.contact-info ul .flex {
  gap: 10px;
}

@media (max-width: 500px) {
  .contact-info {
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
  }

  .contact-info ul:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 15px;
  }

  .contact-info > .flex > p {
    text-align: start;
    margin-top: 15px;
  }
}
