.user_update_details {
    background-color: black;
    padding: 50px 0px;
}

.user_update_details .kyc-verification {
    margin-top: 60px;
}


.user_update_details .kyc-verification .btn {
    margin-bottom: 20px;
}

.user_update_details .kyc-verification .sub-p {
    text-align: start;
}