.user-footer {
    background-color: #002480;
    color: white;
    justify-content: space-between;
    padding: 5px;
    border-top: 1px solid white;
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    font-family: "Poppins", sans-serif;
}

.user-footer>div {
    flex-direction: column;
    gap: 5px;
    width: 200%;
    cursor: pointer;
}

.user-footer p {
    font-size: 15px;
}

.user-footer svg {
    font-size: 24px;
}

@media(max-width:500px) {
    .user-footer svg {
        font-size: 22px;
    }

    .user-footer p {
        font-size: 13px;
    }
}